/* ------------------------------ Data display ------------------------------ */

.data_display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pattens-blue);
  width: fit-content;
  padding: 8px;
  border-radius: 1rem;
  margin: 0px;
}

.small_display {
  height: 3.75rem;
  padding: 29px;
}

/* -------------------------------------------------------------------------- */